@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Roboto:ital@0;1&display=swap');


.about-content {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 600px) {
    .about-content {
    grid-template-columns: repeat (1, 1fr);
    }
}

.about-title {
    font-family: Montserrat;
    color: rgb(33,65,82);
}

.about-text {
    font-family: Roboto;
    color: rgb(33,65,82);
    text-decoration: none;
}

.about-text:hover {
    color: rgb(33,65,82);
}

.about-img {
    width: 100%;
}

.about-grid {
    padding: 20px;
}