/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    align-items: center;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
    justify-content: center;
    padding: 20px;
    width: inherit;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    width: 300px;
    height: 400px;
    justify-content: center;
  }

  .carousel-inner {
      justify-items: center;
      width: 400px;
  }
//   .carousel-item > img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     min-width: 100%;
//     height: 32rem;
  

  .product-img {
    height: 400px;
    width: 300px;
  }

/* RESPONSIVE CSS
-------------------------------------------------- */
