@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
  
  .navbar {
    margin-bottom: 0px;
    background-color: rgb(33,65,82);
    background-image: src("assets/img/gradient-graphic.svg");
  }
  
.nav-item {
  font-family: Montserrat;
}

.nav-link {
  color: rgb(244,240,237);
  display: inline-block;
}

@media (max-width: 767px){
  .nav-link {
    display: block;
  }
}


.nav-link:hover {
  color: rgb(238, 147, 37);
}

.navbar-toggler {
  color: rgb(244,240,237);
}

.navbar-toggler-icon {
  color: rgb(238, 147, 37);
  vertical-align: center;
}

.logo-svg {
  width: 18rem;
  padding: 20px;
}

.dropdown-menu {
  background-color: rgb(244,240,237);
}

.dropdown-item {
  color: rgb(33,65,82);
}

.dropdown-item:hover {
  background-color: rgb(238, 147, 37);
  color: rgb(244,240,237);
}