@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 0px;
    background-color: rgb(33,65,82);
  }
  
.nav-item {
  font-family: Montserrat;
}

.nav-link {
  color: rgb(244,240,237);
  display: inline-block;
}

.nav-link:hover {
  color: rgb(238, 147, 37);
}

.navbar-toggler {
  color: rgb(244,240,237);
  align-items: center;
}

.navbar-toggler-icon {
  color: rgb(238, 147, 37)
}

.logo-svg {
  width: 18rem;
  padding: 20px;
}

.dropdown-menu{
  color: rgb(244,240,237);
}

.navbar-toggler-icon {
  // width:fit-content;
  // height: fit-content;
  align-items: center;
}
