.product-grid {
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(auto-fit, 300px);
    gap: 2.5rem;
    padding: 20px;
}

.container {
    padding: 20px;
}

.card-text {
    font-family: Montserrat;
    color: rgb(33,65,82);
}

.card-price {
    font-family: Montserrat;
    color: rgb(238, 147, 37);
}

.card-body {
    display: inline-block;
}