// .product {
// }

// Customised colour palette
$heading-text-colour: #8c0303; // Burnt red
$highlight-colour: #f5840c; // Bright orange
$body-bg: #f5f5f5; // Light grey
$body-text-colour: #0d0d0d; // Dark colour for text
$secondary-highlight: #f2cf66; //Secondary highlight colour

main {
    padding: 20px;
}

.preview-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

.product-pricing {
    max-width: 600px;
}

.product-img-gallery {
    max-width: 600px;
}

.product-container {
  //   background-color: #ffffff;
  min-height: 80vh;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}

.product-container.row > * {
  padding: 0;
}

.darker-text {
  color: #333;
}

.product-main .flickity-viewport {
  max-height: 800px !important;
  touch-action: pan-y;
}

.carousel {
  background: rgb(244,240,237);
  margin-bottom: 40px;
  width: inherit;
  max-width: 600px;
  justify-content: center;
  //   height: 100%;
}

.product-main .carousel-cell {
  width: inherit;
  max-width: 600px;
  max-height: 800px;
  margin-right: 10px;
  counter-increment: carousel-cell;
  justify-content:center;
  //   background: #8c8;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  //   content: counter(carousel-cell);
  //   line-height: 200px;
  //   font-size: 80px;
  //   color: white;
}

.carousel-nav .carousel-cell {
  height: 100px;
  width: 100px;
  max-width: 113px;
}

.carousel-nav {
  background: none;
}

.rating {
  font-size: 2em;
}

.rating-colour {
  color: #333;
}

.rating-colour-dim {
  color: #ccc;
}

.product-title {
  font-size: 1.6em;
  color: #000000;
  font-weight: 500;
}

.product-price {

}

.product-price__price {
  font-size: 2.1em;
  color: $highlight-colour;
  font-weight: 600;
}

.buy-button {
  width: inherit;
  height: 3.2em;
}

.buy-buttons-group {
  margin-top: 12em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: 3.2em;
  padding: 0.875rem 3.5rem 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  vertical-align: -0.125em;
  background: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' clip-rule='evenodd'/></svg>")
    no-repeat right 1.5rem center/3rem 3rem;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  border: 0.1em solid #666;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.add-to-cart-button {
  color: #ffffff;
  font-size: 1em;
  font-weight: 300;
}

.wishlist-button {
  color: #333;
  font-size: 1em;
  font-weight: 300;
}

// .carousel-nav .carousel-cell:before {
//   font-size: 50px;
//   line-height: 80px;
// }

// .carousel-nav .carousel-cell.is-nav-selected {
//   background: #ed2;
// }

.carousel-nav .flickity-slider {
  left: 10px !important;
  transform: translateX(0%) !important;
}

@media screen and (max-width: 576px) {
  .carousel-nav .flickity-slider {
    left: 0 !important;
  }
}

@media screen and (min-width: 1000px) {
    .preview-grid {
        grid-template-columns: 60vw, 40vw;
    }
}
