.product-grid {
    display: grid;
    align-items: center;
    grid-template-columns:repeat(auto-fit, 300px);
    // grid-template-columns:repeat(3, 1fr);
    gap: 2.5rem;
    padding: 20px;

    // @media screen and (max-width: 992px) {
    //     grid-template-columns:repeat(2, 1fr);
    // }
}

.container {
    padding: 20px;
}

.product-items {
    align-items: center;
}