@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Roboto:ital@0;1&display=swap');

.product-grid {
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(auto-fit, 300px);
    gap: 2.5rem;
    padding: 20px;
}

.container {
    padding: 20px;
}

.card-text {
    font-family: Montserrat;
    color: rgb(33,65,82);
}

.card-price {
    font-family: Montserrat;
    color: rgb(238, 147, 37);
}

.title-arrange {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

.btn {
    color: rgb(33,65,82);
    font-family: Roboto;
}

.btn:hover {
    background-color: rgb(238, 147, 37) important !important;
}

.btn-outline-secondary {
    border-color: rgb(33,65,82) !important;
}